.games-container {
    display: flex;
    justify-content: center;
    height: 460px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(1, 125px);
    gap: 40px;
}

.game-button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-image {
    border: 2px solid whitesmoke;
    border-radius: 10%;
    padding: 5px;
    padding-bottom: 2px;
}

.game-name {
    text-align: center;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-decoration: none;
    color: whitesmoke;
}